In [ ]:
# mysql 연동
# ramdom 함수 -> 무작위 값, [1, 2, 3, 4, 5] 무작위의 위치값

In [1]:
import random

In [10]:
_list = ['a', 'b', 'c', 'd', 'e']

random.choice(_list)

'e'

In [11]:
from datetime import datetime

In [80]:
year = [2020, 2021, 2022, 2023]
month = list(range(1, 12))
day = list(range(1, 31))

limit_list = {
    '2020' : 100, 
    '2021' : 200, 
    '2022' : 300, 
    '2023' : 400
}


check_list = {
    '2020' : 0, 
    '2021' : 0, 
    '2022' : 0, 
    '2023' : 0
}

_list = []
_list2 = []

for i in range(100000):

    y = str(random.choice(year))
    m = str(random.choice(month))
    d = str(random.choice(day))

    date = y + m + d
    if (check_list[date[0:4]] < limit_list[date[0:4]] ):
        try:
            _list.append(datetime.strptime(date, '%Y%m%d'))
            check_list[date[0:4]] += 1
        except:
            _list2.append(d)

    if(len(_list) == 100):
        break

_list

[datetime.datetime(2021, 7, 30, 0, 0),
 datetime.datetime(2023, 3, 1, 0, 0),
 datetime.datetime(2022, 5, 6, 0, 0),
 datetime.datetime(2023, 10, 20, 0, 0),
 datetime.datetime(2022, 4, 6, 0, 0),
 datetime.datetime(2021, 10, 11, 0, 0),
 datetime.datetime(2021, 2, 25, 0, 0),
 datetime.datetime(2021, 4, 28, 0, 0),
 datetime.datetime(2020, 3, 2, 0, 0),
 datetime.datetime(2021, 5, 8, 0, 0),
 datetime.datetime(2020, 2, 29, 0, 0),
 datetime.datetime(2020, 6, 28, 0, 0),
 datetime.datetime(2020, 7, 9, 0, 0),
 datetime.datetime(2020, 9, 18, 0, 0),
 datetime.datetime(2021, 10, 27, 0, 0),
 datetime.datetime(2021, 11, 22, 0, 0),
 datetime.datetime(2020, 5, 3, 0, 0),
 datetime.datetime(2020, 11, 14, 0, 0),
 datetime.datetime(2021, 3, 4, 0, 0),
 datetime.datetime(2021, 5, 9, 0, 0),
 datetime.datetime(2023, 6, 3, 0, 0),
 datetime.datetime(2020, 3, 14, 0, 0),
 datetime.datetime(2021, 9, 27, 0, 0),
 datetime.datetime(2021, 11, 10, 0, 0),
 datetime.datetime(2022, 10, 15, 0, 0),
 datetime.datetime(2022, 10, 28, 0, 0),
 datetime.datetime(2020, 12, 7, 0, 0),
 datetime.datetime(2021, 8, 9, 0, 0),
 datetime.datetime(2022, 6, 8, 0, 0),
 datetime.datetime(2022, 4, 15, 0, 0),
 datetime.datetime(2022, 10, 16, 0, 0),
 datetime.datetime(2021, 11, 9, 0, 0),
 datetime.datetime(2021, 11, 23, 0, 0),
 datetime.datetime(2023, 3, 15, 0, 0),
 datetime.datetime(2023, 11, 16, 0, 0),
 datetime.datetime(2020, 3, 18, 0, 0),
 datetime.datetime(2022, 6, 26, 0, 0),
 datetime.datetime(2021, 1, 5, 0, 0),
 datetime.datetime(2020, 2, 3, 0, 0),
 datetime.datetime(2021, 11, 17, 0, 0),
 datetime.datetime(2020, 3, 22, 0, 0),
 datetime.datetime(2023, 5, 22, 0, 0),
 datetime.datetime(2022, 3, 18, 0, 0),
 datetime.datetime(2023, 5, 12, 0, 0),
 datetime.datetime(2022, 7, 25, 0, 0),
 datetime.datetime(2022, 11, 21, 0, 0),
 datetime.datetime(2022, 11, 2, 0, 0),
 datetime.datetime(2021, 2, 1, 0, 0),
 datetime.datetime(2020, 11, 21, 0, 0),
 datetime.datetime(2023, 10, 28, 0, 0),
 datetime.datetime(2020, 2, 29, 0, 0),
 datetime.datetime(2023, 11, 22, 0, 0),
 datetime.datetime(2023, 11, 28, 0, 0),
 datetime.datetime(2023, 6, 19, 0, 0),
 datetime.datetime(2021, 2, 28, 0, 0),
 datetime.datetime(2020, 5, 14, 0, 0),
 datetime.datetime(2020, 3, 11, 0, 0),
 datetime.datetime(2023, 6, 7, 0, 0),
 datetime.datetime(2022, 5, 18, 0, 0),
 datetime.datetime(2021, 8, 8, 0, 0),
 datetime.datetime(2021, 6, 19, 0, 0),
 datetime.datetime(2022, 7, 17, 0, 0),
 datetime.datetime(2023, 2, 20, 0, 0),
 datetime.datetime(2023, 6, 27, 0, 0),
 datetime.datetime(2021, 8, 21, 0, 0),
 datetime.datetime(2022, 9, 4, 0, 0),
 datetime.datetime(2021, 10, 24, 0, 0),
 datetime.datetime(2023, 11, 3, 0, 0),
 datetime.datetime(2022, 6, 10, 0, 0),
 datetime.datetime(2023, 2, 27, 0, 0),
 datetime.datetime(2022, 8, 12, 0, 0),
 datetime.datetime(2021, 2, 24, 0, 0),
 datetime.datetime(2020, 9, 9, 0, 0),
 datetime.datetime(2020, 8, 8, 0, 0),
 datetime.datetime(2020, 4, 5, 0, 0),
 datetime.datetime(2022, 7, 28, 0, 0),
 datetime.datetime(2020, 11, 26, 0, 0),
 datetime.datetime(2023, 5, 14, 0, 0),
 datetime.datetime(2020, 8, 15, 0, 0),
 datetime.datetime(2020, 1, 20, 0, 0),
 datetime.datetime(2021, 3, 10, 0, 0),
 datetime.datetime(2020, 5, 10, 0, 0),
 datetime.datetime(2020, 7, 25, 0, 0),
 datetime.datetime(2021, 10, 28, 0, 0),
 datetime.datetime(2021, 6, 19, 0, 0),
 datetime.datetime(2020, 2, 5, 0, 0),
 datetime.datetime(2023, 9, 23, 0, 0),
 datetime.datetime(2021, 8, 29, 0, 0),
 datetime.datetime(2020, 12, 6, 0, 0),
 datetime.datetime(2022, 11, 10, 0, 0),
 datetime.datetime(2022, 9, 6, 0, 0),
 datetime.datetime(2023, 4, 11, 0, 0),
 datetime.datetime(2020, 8, 23, 0, 0),
 datetime.datetime(2022, 12, 4, 0, 0),
 datetime.datetime(2020, 9, 11, 0, 0),
 datetime.datetime(2020, 5, 9, 0, 0),
 datetime.datetime(2022, 4, 5, 0, 0),
 datetime.datetime(2021, 4, 21, 0, 0),
 datetime.datetime(2020, 12, 6, 0, 0),
 datetime.datetime(2023, 11, 30, 0, 0)]

In [23]:
len(_list)

10

In [79]:
_list2

['29', '30', '29', '29', '30', '30', '29', '30', '29']

In [43]:
_list

[datetime.datetime(2020, 8, 14, 0, 0),
 datetime.datetime(2021, 3, 6, 0, 0),
 datetime.datetime(2023, 5, 1, 0, 0),
 datetime.datetime(2021, 3, 13, 0, 0),
 datetime.datetime(2023, 5, 8, 0, 0),
 datetime.datetime(2022, 3, 6, 0, 0),
 datetime.datetime(2023, 10, 16, 0, 0),
 datetime.datetime(2022, 6, 9, 0, 0),
 datetime.datetime(2023, 7, 2, 0, 0),
 datetime.datetime(2022, 11, 25, 0, 0)]

In [41]:
import pandas as pd

In [45]:
data = {
    'time' : _list
}

pd.DataFrame(data).to_excel('sample.xlsx')

In [21]:
check_list

{'2020': 11, '2021': 6, '2022': 4, '2023': 21}

In [25]:
import string 
import random

In [40]:
letter_set = string.ascii_lowercase + '1234567890'

random_data = random.sample(letter_set, 10)

data = "".join(random_data)
print(data)

1sn2a6odj7

In [39]:
letter_set + '1234567890'

'abcdefghijklmnopqrstuvwxyz1234567890'

In [81]:
text_length = range(4,10)
email = ['@naver.com', '@gmail.com', '@hanmail.net', '@yahoo.com']

email_list = []
for i in range(1000000):
    if(len(email_list) == 100):
        break
        
    random_data = random.sample(letter_set, random.choice(text_length))

    data = "".join(random_data) + random.choice(email)

    if (data not in email_list):
        email_list.append(data)

In [82]:
email_list

['1ou80@yahoo.com',
 'n7q8j9w@hanmail.net',
 '62v5@yahoo.com',
 '7eod@yahoo.com',
 'ny4jp@gmail.com',
 'p12bjr4u@hanmail.net',
 'zmlp3f7@yahoo.com',
 's7h0@naver.com',
 'iq2aejm@naver.com',
 'mfs9gq@gmail.com',
 '4x0y@naver.com',
 'l8d5zw@gmail.com',
 'pzuxe@yahoo.com',
 'ihzcmxvk2@yahoo.com',
 '483ry9@yahoo.com',
 'gzqtj@naver.com',
 'ugvm@naver.com',
 'got3cp1x@hanmail.net',
 'yce4@hanmail.net',
 'rd7ywtg1@yahoo.com',
 '9vkr@yahoo.com',
 '47bse@hanmail.net',
 '2erojbtus@naver.com',
 '0xfdojan@gmail.com',
 'pjk51v2r@hanmail.net',
 'p8olf@hanmail.net',
 '85cdx0fey@naver.com',
 'k6rtly@naver.com',
 'ymdv@naver.com',
 'okmv5i0rb@hanmail.net',
 '6l8kf@naver.com',
 'wc4yz@yahoo.com',
 '3ktb4yv@gmail.com',
 'lvrn@hanmail.net',
 'ysx8k2tag@hanmail.net',
 '17rbjhm@yahoo.com',
 'c68dhsn@gmail.com',
 'cmfaqbk9i@gmail.com',
 'flsq@hanmail.net',
 'woztj@yahoo.com',
 'uze0v4@naver.com',
 'cvbs@gmail.com',
 'q3h4p@gmail.com',
 'fp3q@hanmail.net',
 'bca697@gmail.com',
 '2p8br@yahoo.com',
 'tnfrm16@hanmail.net',
 'hwq7yr@hanmail.net',
 '8y1c@gmail.com',
 'yl53@gmail.com',
 'nwxzp@yahoo.com',
 'qb53@yahoo.com',
 'pbsae253t@yahoo.com',
 'byier@gmail.com',
 '73fupv@hanmail.net',
 'j2au@hanmail.net',
 'q24zs80@hanmail.net',
 'vn67@gmail.com',
 '5js4v@gmail.com',
 't4h3j@gmail.com',
 'xyz29@hanmail.net',
 '90cr1x4@hanmail.net',
 'ozqtwu0mf@yahoo.com',
 'l2ocd@naver.com',
 'qs69uf8@gmail.com',
 'pzswo7@naver.com',
 'hosp0y2@yahoo.com',
 'jlr6w5bz@gmail.com',
 'fchg89u7p@yahoo.com',
 'ofa29ck@hanmail.net',
 'kemzp2@naver.com',
 'egah@yahoo.com',
 '7y3c1nkb@hanmail.net',
 'pr5gz@gmail.com',
 'wz8vn9@hanmail.net',
 'vg0xqao@hanmail.net',
 'xwnti3bm@naver.com',
 '3tkx@yahoo.com',
 '0w75hc4@gmail.com',
 'r1i6c043z@naver.com',
 '9osh@gmail.com',
 's5kv79x@gmail.com',
 'pszqm@hanmail.net',
 'yzovad9l4@gmail.com',
 'hvzpg0@gmail.com',
 '6psmu@naver.com',
 'k3y8@gmail.com',
 'hkbv9mtxn@hanmail.net',
 'gvuqrc84@yahoo.com',
 'iwoc9xy@naver.com',
 'dob08hv3i@yahoo.com',
 'zd36tn@naver.com',
 'f5deh@yahoo.com',
 '2htjap1@gmail.com',
 'pfg2@gmail.com',
 '6pwoq1@gmail.com',
 'bi1dvopj@hanmail.net',
 '81z5d@naver.com',
 'uokv6m@yahoo.com',
 'g3mfnz@yahoo.com']

In [83]:
import pymysql

In [85]:
_db = pymysql.connect(
    host = 'localhost', 
    user = 'root', 
    password = 'java', 
    db = 'os', 
    port = 3306
)

In [86]:
cursor = _db.cursor(pymysql.cursors.DictCursor)

In [87]:
sql = """
    INSERT 
    INTO 
    dummy
    VALUES
    (%s, %s)
"""

for i in range(100):
    cursor.execute(sql, [email_list[i], _list[i]] )

_db.commit()

In [89]:
!pip install passlib

Collecting passlib
  Using cached passlib-1.7.4-py2.py3-none-any.whl (525 kB)
Installing collected packages: passlib
Successfully installed passlib-1.7.4

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [91]:
from passlib.hash import pbkdf2_sha256

In [92]:
data = {
    'user_name' : ['test', 'test2', 'test3'] , 
    'email': ['a', 'b', 'c'], 
    'password':['1234', '5678', '1111'], 
    'phone': ['01011111111', '01012345678' , '01098765432']
}

df = pd.DataFrame(data)

In [93]:
df

  user_name email password        phone
0      test     a     1234  01011111111
1     test2     b     5678  01012345678
2     test3     c     1111  01098765432

In [95]:
s = 'eungok'

a = '1234'

pbkdf2_sha256.hash(a + s)

'$pbkdf2-sha256$29000$orTWOseYsxai9P7/HwNACA$ibFuQ5W0Z.LdHLjaA4UZCeEKZZVHIV0rjxz8/0aMoPQ'

In [99]:
df2 = df.copy()

In [100]:
for i in range(len(df)):
    password = df.loc[i, 'password']
    df.loc[i, 'password'] = pbkdf2_sha256.hash(password + 'eungok')

df

,user_name,email,password,phone
0,test,a,$pbkdf2-sha256$29000$/R9DqBUCYIyxdi4lpBQCgA$w3...,01011111111
1,test2,b,$pbkdf2-sha256$29000$d04JoXSO8T6HMEZoLUWoVQ$hI...,01012345678
2,test3,c,$pbkdf2-sha256$29000$zBnj3DvnHCMEoHSuVWqt9Q$YC...,01098765432

In [103]:
df2['password'] = df2['password'].apply(
    lambda x : pbkdf2_sha256.hash(x + 'eungok')
)

In [108]:
df2.loc[1].tolist()

['test2',
 'b',
 '$pbkdf2-sha256$29000$AKCUkvK.N.acEwLgfO8dww$ZzFBeE16lmPSXXCc.93mKoXjiUT7vQmtqQOSj7B.nS8',
 '01012345678']

In [110]:
sql = """
    INSERT 
    INTO 
    user2
    VALUES
    (%s, %s, %s, %s)
"""

for i in range(len(df2)):
    value = df2.loc[i].tolist()

    cursor.execute(sql, value)


_db.commit()

In [111]:
a  = '["a", "b"]'
type(a)

str

In [113]:
type(eval(a))

list