In [1]:
import pymysql 
import random
import string

In [2]:
_db = pymysql.connect(
    host = 'localhost', 
    port = 3306, 
    user = 'root', 
    password = 'java', 
    db = 'os'
)
cursor = _db.cursor(pymysql.cursors.DictCursor)

In [3]:
letter_set = string.ascii_lowercase
letter_set

'abcdefghijklmnopqrstuvwxyz'

In [6]:
name_list = []
for i in range(200):
    random_data = random.sample(letter_set, 5)
    data =  "".join(random_data)
    if data not in name_list:
        name_list.append(data)
    # 길이가 50이 되면 반복문을 종료
    if len(name_list) == 50:
        break

In [7]:
len(name_list)

50

In [9]:
addr = ['강북', '강남', '강동', '강서'] 
addr_list = []
for i in range(50):
    data = random.choice(addr)
    addr_list.append(data)

In [10]:
len(addr_list)

50

In [11]:
cate = [0, 1, 2]
cate_list = []
for i in range(50):
    data = random.choice(cate)
    cate_list.append(data)

In [13]:
letter_set2 = '1234567890'
tel_list = []
for i in range(50):
    random_data1 = random.sample(letter_set2, 4)
    random_data2 = random.sample(letter_set2, 4)
    data1 = "".join(random_data1)
    data2 = "".join(random_data2)
    data = '010-'+data1+"-"+data2
    tel_list.append(data)

In [14]:
tel_list

['010-3529-9182',
 '010-0753-7412',
 '010-3094-3085',
 '010-9508-2847',
 '010-7983-1490',
 '010-2806-6785',
 '010-6123-1357',
 '010-0439-7904',
 '010-8401-1938',
 '010-6579-3721',
 '010-4075-1307',
 '010-6859-7620',
 '010-3697-9128',
 '010-8147-2419',
 '010-4876-4068',
 '010-6435-3207',
 '010-9207-6710',
 '010-3176-9405',
 '010-0638-9485',
 '010-8610-1457',
 '010-4291-8415',
 '010-6142-2195',
 '010-0629-6945',
 '010-3892-7302',
 '010-5287-2986',
 '010-3192-8250',
 '010-4618-2984',
 '010-8439-5287',
 '010-2483-2978',
 '010-2836-7291',
 '010-5076-8157',
 '010-5860-4670',
 '010-2690-2753',
 '010-8467-3267',
 '010-6914-0721',
 '010-9241-1892',
 '010-5962-6043',
 '010-8941-7832',
 '010-2314-0294',
 '010-3508-2869',
 '010-6149-8910',
 '010-0621-4973',
 '010-2970-3897',
 '010-4690-3154',
 '010-2861-7502',
 '010-6958-4328',
 '010-2987-5012',
 '010-7918-9053',
 '010-9806-7354',
 '010-2891-2796']

In [15]:
sql = """
    INSERT 
    INTO 
    studio 
    VALUES 
    (%s, %s, %s, %s)
"""

for i in range(50):
    value = [name_list[i], addr_list[i], tel_list[i], cate_list[i]]
    cursor.execute(sql, value)
_db.commit()