In [ ]:
import mysql
import imp

In [ ]:
imp.reload(mysql)

In [ ]:
# class 생성(데이터베이스의 서버의 정보)
db = mysql.Mysql(
    'localhost', 
    'root', 
    'java', 
    'os', 
    3306
)

In [ ]:
sql = """
    SELECT 
    * 
    FROM 
    online
"""

db.query(sql)

In [ ]:
sql2 = """
    select
    * 
    from 
    online
    where 
    crym = %s
"""
values = ['201901']

db.query(sql2, values)

In [ ]:
sql3 = """
    delete 
    from 
    online
    where 
    crym = %s
"""
values = ['201901']

db.query(sql3, values)

In [ ]:
import query

In [29]:
imp.reload(query)

In [ ]:
db.query(query.select_online)

In [20]:
db.query(query.create_dummy2)

'Query OK []'

In [21]:
import pandas as pd

In [24]:
df = pd.read_csv('./dummy.csv', sep=";")

In [30]:
data_list = df.values.tolist()

In [31]:
for data in data_list:
    db.query(query.insert_dummy2, data)