In [ ]:
# pandas 라이브러리 로드 
import pandas as pd

# 경로
1. 절대 경로
    - 절대적인 주소 값
    - 컴퓨터의 환경이 변하더라도 같은 위치를 지정
    - ex) c:/users/admin/document/a.txt, https://www.google.com
2. 상대 경로
    - 상대적인 주소 값
    - 환경이 변함에 따라 위치도 변화한다. 
    - ./ : 현재 파일의 경로
    - ../ : 현재 경로에서 상위 폴더로 이동
    - 폴더명/ : 하위폴더로 이동
    - ex) 현재 경로에서 상위로 이동 sample_web 하위 폴더로 이동
    - (../sample_web/app.py)

In [ ]:
# csv라는 하위폴더로 이동 -> corona.csv 파일 로드 
# 상대경로
corona = pd.read_csv("./csv/corona.csv")
# 절대경로
corona2 = pd.read_csv("D:\python\pandas\csv\corona.csv")

In [ ]:
corona

In [ ]:
# 특정한 행이나 열을 삭제 
# drop( {기준이 되는 조건}, axis=(0('rows') | 1('columns')) , inplace = bool )
# axis 매개변수 : 0이나 1, rows나 columns 행을 지울것인가 열을 지울것인가 지정
# inplace 매개변수 : 기본값은 False, True로 변경하면 기준이되는 데이터프레임을 변경
# pandas 안에 있는 DataFrame이라는 class 안에 존재하는 함수
# corona = corona.drop( ['Unnamed: 0'], axis = 1 )
corona.drop(['Unnamed: 0'], axis='columns', inplace=True)

In [ ]:
corona.drop([0, 1, 4], axis=0)

In [42]:
# 복사본 데이터를 생성
df = corona.copy()

In [43]:

df.drop([0], axis=0, inplace=True)

In [44]:
df.head(3)

,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN

In [45]:
corona.head(3)

,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN

In [46]:
# 데이터프레임에 컬럼의 이름을 변경

df.columns = ["등록일시", '총사망자', '총확진자', '게시글번호', '기준일', '기준시간', 
              '수정일시', '누적의심자', '누적확진자']

In [47]:
df.head(3)

,등록일시,총사망자,총확진자,게시글번호,기준일,기준시간,수정일시,누적의심자,누적확진자
1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN

In [48]:
# 특정한 컬럼을 기준으로 차순 정렬
# sort_values( {기준이 되는 컬럼}, ascending = bool, inplace = bool )
# ascending 매개변수 : 기본값은 True(오름차순), False로 변경하면 내림차순 정렬

# 등록일시를 기준으로 오름차순 정렬 데이터프레임을 변경
df = df.sort_values(['등록일시'], ascending=True)

In [50]:
df.head(3)

,등록일시,총사망자,총확진자,게시글번호,기준일,기준시간,수정일시,누적의심자,누적확진자
819,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
818,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
817,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744

In [54]:
# 인덱스를 초기화
# reset_index(drop = bool, inplace = bool)
# drop 매개변수 : 기본값은 False, True 변경하면 기존의 인덱스를 삭제
df.reset_index(drop = True, inplace=True)
# df.reset_index().drop(['index'], axis=1)

In [55]:
df.tail()

,등록일시,총사망자,총확진자,게시글번호,기준일,기준시간,수정일시,누적의심자,누적확진자
814,2022-06-03 09:08:18.729,24229,18141775,899,20220603,00:00,2022-06-08 09:11:38.938,NaN,NaN
815,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
816,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
817,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
818,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN

In [56]:
# 데이터프레임의 정보를 출력하는 함수
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 819 entries, 0 to 818
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   등록일시    819 non-null    object
 1   총사망자    819 non-null    int64
 2   총확진자    819 non-null    int64
 3   게시글번호   819 non-null    int64
 4   기준일     819 non-null    int64
 5   기준시간    819 non-null    object
 6   수정일시    817 non-null    object
 7   누적의심자   692 non-null    float64
 8   누적확진자   623 non-null    float64
dtypes: float64(2), int64(4), object(3)
memory usage: 57.7+ KB

In [60]:
# is함수
# 특정한 데이터가 존재하는지 확인하는 함수
# 결측치의 유무 판단하는 함수 
# isna() : 데이터가 결측치인 경우 True, 결측치가 아니라면 False
# sum(axis = (0 | 1))
# axis 매개변수 : 0, rows -> 행들의 합계, 1, columns -> 열들의 합계
df.isna().sum(axis=0)

등록일시       0
총사망자       0
총확진자       0
게시글번호      0
기준일        0
기준시간       0
수정일시       2
누적의심자    127
누적확진자    196
dtype: int64

In [65]:
# 결측치를 특정한 데이터로 치환
# fillna({특정한 값})
# 해당하는 값으로 결측치를 치환
# fillna(method = ?)
# method 매개변수 : 
#   'ffill' -> 전의 데이터의 값으로 대체
#   'bfill' -> 후의 데이터의 값으로 대체
# df에서 누적의심자 컬럼의 결측치를 ffill로 치환
df['누적의심자'] = df['누적의심자'].fillna(method='ffill')

In [66]:
df.isna().sum()

등록일시       0
총사망자       0
총확진자       0
게시글번호      0
기준일        0
기준시간       0
수정일시       2
누적의심자      0
누적확진자    196
dtype: int64

In [67]:
df.head(2)

,등록일시,총사망자,총확진자,게시글번호,기준일,기준시간,수정일시,누적의심자,누적확진자
0,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
1,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175

In [69]:
# 특정한 컬럼의 이름을 변경
# rename(index = {'before' : 'after'}, columns = {'before' : 'after'}, inplace = bool)
df.rename(columns={'누적확진자' : '누적확진율'}, inplace=True)

In [75]:
# shift(n)
# n만큼 행을 이동한다. 
# 기본값은 1
# 전날의 사망자의 데이터
df['총사망자'].shift(1).fillna(0)

0          0.0
1         54.0
2         60.0
3         66.0
4         67.0
        ...
814    24212.0
815    24229.0
816    24238.0
817    24258.0
818    24279.0
Name: 총사망자, Length: 819, dtype: float64

In [76]:
# 일일사망자 = 오늘의 총사망자 - 전날의 총사망자
(df['총사망자'] - df['총사망자'].shift()).fillna(0)

0       0.0
1       6.0
2       6.0
3       1.0
4       5.0
       ...
814    17.0
815     9.0
816    20.0
817    21.0
818    20.0
Name: 총사망자, Length: 819, dtype: float64