In [ ]:
!pip install pymysql

In [ ]:
import pymysql

In [4]:
# sql 서버 정보를 입력
_db = pymysql.connect(
    user = 'root', 
    password = 'java', 
    host = 'localhost', 
    db = 'os', 
    port = 3306
)

In [5]:
# cursor 생성
cursor = _db.cursor()

cursor2 = _db.cursor(pymysql.cursors.DictCursor)

In [7]:
sql = """
    SELECT 
    * 
    FROM 
    offline
"""

In [8]:
cursor.execute(sql)
cursor2.execute(sql)

1213

In [9]:
result = cursor.fetchall()
result2 = cursor2.fetchall()

In [ ]:
result

In [ ]:
result2

In [12]:
import pandas as pd

In [14]:
pd.DataFrame(result2)

        crym tco_btc_nm  ma_fem_dc  agegrp_dc  tco_btc_u_ct  tco_btc_u_am
0     201901        백화점          1          1             1          7600
1     201901        백화점          1         10           379      19458720
2     201901        백화점          1         80         11198    1186133303
3     201901        백화점          1         90           468      29194852
4     201901        백화점          2          0             2        128200
...      ...        ...        ...        ...           ...           ...
1208  202109        편의점          2         10          2115      14879960
1209  202109        편의점          2         60        243768    1997441975
1210  202109        편의점          2         70         40523     352420260
1211  202109        편의점          2         80          6349      53334882
1212  202109        편의점          2         90           273       2619730

[1213 rows x 6 columns]

### 문제 
1. 데이터베이스에 있는 offline 테이블을 로드하여 데이터프레임으로 변환
2. 데이터프레임의 컬럼의 이름을 변경 -> ['기준년월', '업종', '성별', '연령대', '총이용건수', '총이용금액']
3. 기준년월 컬럼의 데이터의 타입을 시계열 데이터로 변경
4. 데이터베이스에 있는 online 테이블을 로드하여 데이터프레임으로 변환
5. 온라인 데이터프레임에 컬럼의 이름을 ['기준년월', '성별', '연령대', '총이용건수', '총이용금액'] 변경
6. 파생변수('업종') 생성하여 데이터는 '온라인' 대입
7. 온라인 데이터프레임의 기준년월 데이터 타입을 시계열로 변경
7. 두개의 데이터프레임을 단순 행 결합 
8. 기준년월, 업종 별로 그룹화 하여 총 이용금액의 합계를 출력하고 라인 그래프로 시각화